syntax: glob
build
DerivedData
.DS*
townWizard-ios.xcodeproj/xcuserdata/*
Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad/
townWizard-ios.xcworkspace/xcuserdata/*.xcuserdatad/
*.xcworkspace
xcuserdata
Pods
Podfile.lock
.idea/

