<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CedarTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KIF testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>townWizard-container.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>townWizard-partner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8483F24214D03FBE005E4216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D90D0DF1158F06500026828E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D998732115930B4F0083ADEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9DEC87515944CC70003C088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E61A960C14FD26D1006E5F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E69022DA14FE447A008F52B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
